DATABASE_URL="postgresql://usuario:senha@host:porta/banco"
JWT_SECRET="seu-segredo-jwt-aqui"
JWT_EXPIRES_IN="7d"
GROQ_API_KEY="sua-chave-groq-aqui"

# URL do frontend (para CORS) — ex: https://seufront.vercel.app ou http://IP:4821
FRONTEND_URL="http://localhost:4821"
PORT=8347
